body {
  background-color: rgb(219, 219, 219);
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 900px;
}

h1 {
  /* margin: auto; */
  color: rgb(109, 90, 7);
}

#container {
  display: flex;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  /* margin: 40px auto; */
  background-color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.column, .cell, .cell-hovered{
  flex-grow: 1;
}

.cell, .cell-hovered {
  /* border: 1px solid grey; */
  /* height: 8px;
  width: 8px;
  margin: 0px; */
}

.cell-hovered {
  background-color: black;
}

button {
  /* margin: 20px auto; */
  padding: 6px;
  font-size: 20px;
  background-color: wheat;
  box-shadow: none;
  border-radius: 9px;
}

p {
  /* margin: auto; */
  /* align-self: stretch; */
}
